.a2 {
    color: green;
    font-family: sans-serif;
}

h12 {
    font-family: sans-serif;
    font-weight: bold;
}

.p2 {
    font-family: serif;
}

.a2 {
    color: darkgreen;
    text-decoration: none;
}

.s2 {
    color: grey;
}

.mark2 {
    color: darkblue;
    background-color: pink;
}

h22 {
    font-family: sans-serif;
    text-align: left;
    font-weight: bold;
}

.div2 {
    font-family: monospace;
    font-size: 1em;
}

.s2 {
    color: grey;
    font-family: sans-serif;
}

.mark2 {
    color: darkblue;
    font-family: sans-serif;
    background-color: pink;
}

.p2 {
    font-family: sans-serif;
}

.div2 {
    font-family: monospace;
}

.h33 {
    color: rgba(0, 0, 139, 0.8);
}

.transparent-text {
    color: black;
    opacity: 0.5;
    font-family: monospace;
}

.div4 {
    background-color: #DCF5F5;
    background-image: url('cross-1.png');
    background-repeat: repeat;
    padding: 20px;
}

.content {
    background-color: white;

}

.blue {
    color: blue;
}

.fancy {
    font-family: cursive;
}

.roman-style {
    list-style-type: lower-roman;
}

.square-style {
    list-style-type: square;
}

.bar {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.bar li {
    list-style: none;
    float: left;

}

.bar a {
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    background-color: grey;
    color: white;
    text-align: center;

}

.bar a:hover {
    background-color: darkgray;
    color: black;
}

/* General Table Styling */
table {
    width: 500px;
    border-collapse: collapse;
    table-layout: fixed;
    /* Ensures fixed column width */
    margin-bottom: 20px;
}

/* Fancy Table Styling */
.fancy-table thead {
    background-color: darkslategrey;
    color: white;
}

.fancy-table th,
.fancy-table td {
    border: 1px solid darkgrey;
    padding: 8px;
    text-align: left;
}

/* Complex Table Styling */
.complex-table thead {
    background-color: #EEE8AA;
    /* Darker palegoldenrod */
}

.complex-table th,
.complex-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
}

/* Table Header Styling */
.complex-table thead th {
    background-color: #EEE8AA;
    font-weight: bold;
}
