body {
    background-color: #DCF5F5;
    background-image: url(cross-1.png);
    background-position: top;
}


.h33 {
    color: rgba(0, 0, 139, 0.8);
}

.transparent-text {
    color: black;
    opacity: 50%;
}

.div4 {
    background-color: #DCF5F5;
}

.content {
    background-color: white;
    border: 1px solid darkgrey;
    border-radius: 8px;

}

.red-border {
    border: 1px solid red;
}

.red_outline {
    outline: red solid 1px;
}

.hr6 {
    color: #cfdfe4;
}

.blue-border {
    border: 1px solid blue;
}

.lastsecond {
    border: 1px solid red;
    border-bottom: blue;
    border-radius: 8px 8px 0 0;
}

.last {
    border: 1px solid blue;
    border-radius: 0 0 8px 8px;
}

.blue {
    color: blue;
}

.fancy {
    font-family: cursive;
}

.roman-style {
    list-style-type: lower-roman;
}

.square-style {
    list-style-type: square;
}

.bar {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.bar li {
    list-style: none;
    float: left;

}

.bar a {
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 15px;
}

.bar a:hover {
    background-color: darkgray;
    color: black;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.content2 {
    display: flex;
    gap: 10px;
}

.left-div {
    width: 180px;
    height: 400px;
    overflow-y: auto;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    float: left;
}

.right-div {
    flex-grow: 1;
    height: 400px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.red-box {
    width: 1000px;
    height: 100px;
    border: 2px solid red;
    position: relative;
    left: 100px;
    top: 100px;
    overflow: hidden;
}


.h12,
.h22 {
    font-family: Arial, sans-serif;
}

.hr2 {
    border: 1px solid black;
}

.p2 {
    font-family: serif;
}

.a2 {
    color: darkgreen;
    text-decoration: none;
}

.s2 {
    color: grey;
}

.highlight2 {
    color: darkblue;
    background-color: pink;
}

.h22 {
    text-align: left;
    font-weight: bold;
}

.pre2 {
    font-family: monospace;
    font-size: 1em;
}

.file-name {
    background-color: lightgray;
    border: 1px solid red;
    padding: 2px 5px;
    font-family: monospace;
    color: black;
    border-radius: 3px;
}
