body {
    background-color: #DCF5F5;
    background-image: url(cross-1.png);
    background-position: top;
}

.a2 {
    color: green;
    font-family: sans-serif;
}

.h12 {
    font-family: sans-serif;
}

.h22 {
    font-family: sans-serif;
    text-align: left;
}

.s2 {
    color: grey;
    font-family: sans-serif;
}

.mark2 {
    color: darkblue;
    font-family: sans-serif;
    background-color: pink;
}


.p2 {
    font-family: sans-serif
}

.div2 {
    font-family: monospace;
}

.h33 {
    color: rgba(0, 0, 139, 0.8);
}

.transparent-text {
    color: black;
    opacity: 50%;
}

.div4 {
    background-color: #DCF5F5;
}

.content {
    background-color: white;
    border: 1px solid darkgrey;
    border-radius: 8px;

}

.red-border {
    border: 1px solid red;
}

.red_outline {
    outline: red solid 1px;
}

.hr6 {
    color: #cfdfe4;
}

.blue-border {
    border: 1px solid blue;
}

.lastsecond {
    border: 1px solid red;
    border-bottom: blue;
    border-radius: 8px 8px 0 0;
}

.last {
    border: 1px solid blue;
    border-radius: 0 0 8px 8px;
}

.blue {
    color: blue;
}

.fancy {
    font-family: cursive;
}

.roman-style {
    list-style-type: lower-roman;
}

.square-style {
    list-style-type: square;
}

.bar {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.bar li {
    list-style: none;
    float: left;

}

.bar a {
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 15px;
}

.bar a:hover {
    background-color: darkgray;
    color: black;
}